.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

local.properties

.kotlin/

.idea/
*.iml

/captures/
.externalNativeBuild/
.cxx/

*.jks
*.keystore

*.log

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Desktop.ini